
src/6.3.4/libs/Pixelmon-1.12.2-6.3.4-universal.jar
src/7.0.0/libs/Pixelmon-1.12.2-7.0.3-universal.jar
src/7.1.0/libs/Pixelmon-1.12.2-7.1.1-universal.jar
src/7.2.0/libs/Pixelmon-1.12.2-7.2.2-universal.jar
src/7.3.0/libs/Pixelmon-1.12.2-7.3.1-server.jar
src/8.0.0/libs/Pixelmon-1.12.2-8.0.2-universal.jar
src/Main/libs/Pixelmon-1.12.2-8.1.2-universal.jar
